apiVersion: apps/v1
kind: Deployment
metadata:
  name: contacts
spec:
  replicas: 1
  selector:
    matchLabels:
      app: contacts
  template:
    metadata:
      labels:
        app: contacts
    spec:
      containers:
        - name: contacts
          image: us-west1-docker.pkg.dev/juancavallotti/eetr-artifacts/contacts-db-sample:latest
          env:
            - name: APP_DB_ENGINE
              value: sqlite
            - name: SQLITE_DATABASE_URL
              value: file:../data/contacts.db
          volumeMounts:
            - name: sqlite-data
              mountPath: /app/prisma/data
      volumes:
        - name: sqlite-data
          persistentVolumeClaim:
            claimName: sqlite-pvc
